<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <form class="box1" action='/result' method='post'>
        <h4>Your Name: </h4>
        <input type="text" name="name">
        <br><br>
        <h4>Dojo Location: </h4>
        <select class="select1" name="location">
          <option value="Seoul">서울</option>
          <option value="Busan">부산</option>
          <option value="Shanghai">Shanghai</option>
          <option value="Beijing">Beijing</option>
          <option value="Daegu">대구</option>
          <option value="Jeju Island">제주도</option>
        </select>
        <br><br>
        <h4>Favorite Language: </h4>
        <select class="select2" name="fav_lang">
          <option value="Python">Python</option>
          <option value="Java">Java</option>
          <option value="C++">C++</option>
          <option value="C#">C#</option>
          <option value="PHP">PHP</option>
          <option value="Javascript">Javascript</option>
        </select>
        <br><br>
        <h4>Comment(Optional): </h4>
        <br>
        <br>
        <textarea class="textarea" name="comment" rows="8" cols="60"></textarea>
        <input class="submit" type="submit" value="Submit">
      </form>
      <br><br><br>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {%for message in messages: %}
            <h3>{{message}}</h3>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>
